<% const cssClasses = require('../cssClasses'); %>
<div class="{{ cssClasses['form-editgrid-table-container'] }}">
  <div class="{{ cssClasses['form-editgrid-table-responsive'] }}">
    <table class="{{ cssClasses['form-editgrid-table'] }}
      {{ ctx.component.striped ? cssClasses['form-editgrid-table-striped'] : ''}}
      {{ ctx.component.bordered ? cssClasses['form-editgrid-table-bordered'] : ''}}
      {{ ctx.component.hover ? cssClasses['form-editgrid-table-hover'] : ''}}
      {{ ctx.component.condensed ? cssClasses['form-editgrid-table-condensed'] : ''}}
    ">
      {% if (ctx.header) { %}
      <thead class="{{ cssClasses['form-editgrid-table-head'] }}">
        {{ctx.header}}
      </thead>
      {% } %}
      <tbody class="{{ cssClasses['form-editgrid-table-body'] }}">
        {% ctx.rows.forEach(function(row, rowIndex) { %}
        <tr ref="{{ctx.ref.row}}">
          {{row}}
          {% if (ctx.openRows[rowIndex] && !ctx.readOnly) { %}
            <td class="{{ cssClasses['form-editgrid-table-column'] }}">
              <div class="{{ cssClasses['form-editgrid-table-actions'] }}">
                <button class="{{ cssClasses['form-editgrid-table-save'] }}" ref="{{ctx.ref.saveRow}}">{{ctx.t(ctx.component.saveRow || 'save', { _userInput: !!ctx.component.saveRow })}}</button>
                {% if (ctx.component.removeRow) { %}
                <button class="{{ cssClasses['form-editgrid-table-cancel'] }}" ref="{{ctx.ref.cancelRow}}">{{ctx.t(ctx.component.removeRow || 'cancel', { _userInput: !!ctx.component.removeRow })}}</button>
                {% } %}
              </div>
            </td>
          {% } %}
          {% if (ctx.errors[rowIndex]) { %}
          <td class="{{ cssClasses['form-editgrid-table-column'] }}">
            <div class="{{ cssClasses['form-editgrid-table-error-container'] }}">
              <div class="{{ cssClasses['form-editgrid-table-error'] }}">
                {{ctx.errors[rowIndex]}}
              </div>
            </div>
          </td>
          {% } %}
        </tr>
        {% }) %}
      </tbody>
      {% if (ctx.footer) { %}
      <tfoot>
        <tr>
          {{ctx.footer}}
        </tr>
      </tfoot>
      {% } %}
    </table>
  </div>
</div>
{% if (!ctx.readOnly && ctx.hasAddButton) { %}
<button class="{{ cssClasses['form-editgrid-table-add'] }}" ref="{{ctx.ref.addRow}}">
  <i class="{{ctx.iconClass('plus')}}"></i>
  {{ctx.t(ctx.component.addAnother || 'addAnother', { _userInput: !!ctx.component.addAnother })}}
</button>
{% } %}
