<% const cssClasses = require('../cssClasses'); %>
<div class="{{ cssClasses['form-day'] }}" role="group"
  {% if (ctx.component.hideLabel) { %}
  aria-label="{{ctx.component.label}}"
  {% } else { %}
  aria-labelledby="l-{{ctx.instance.id}}-{{ctx.component.key}}"
  {% } %}
  {% if (ctx.component.description) { %}
  aria-describedby="d-{{ctx.instance.id}}-{{ctx.component.key}}"
  {% } %}
  >
  {% if (ctx.dayFirst && ctx.showDay) { %}
  <div class="{{ cssClasses['form-day-field'] }}">
    {% if (!ctx.component.hideInputLabels) { %}
    <label for="{{ctx.component.key}}-day" class="{{ cssClasses['form-day-label'] }} {% if(ctx.component.fields.day.required) { %}{{ cssClasses['form-day-required'] }}{% } %}">{{ctx.t('day')}}</label>
    {% } %}
    <div class="{{ cssClasses['form-day-input'] }}">{{ctx.day}}</div>
  </div>
  {% } %}
  {% if (ctx.showMonth) { %}
  <div class="{{ cssClasses['form-day-field'] }}">
    {% if (!ctx.component.hideInputLabels) { %}
    <label for="{{ctx.component.key}}-month" class="{{ cssClasses['form-day-label'] }} {% if(ctx.component.fields.month.required) { %}{{ cssClasses['form-day-required'] }}{% } %}">{{ctx.t('month')}}</label>
    {% } %}
    <div class="{{ cssClasses['form-day-input'] }}">{{ctx.month}}</div>
  </div>
  {% } %}
  {% if (!ctx.dayFirst && ctx.showDay) { %}
  <div class="{{ cssClasses['form-day-field'] }}">
    {% if (!ctx.component.hideInputLabels) { %}
    <label for="{{ctx.component.key}}-day" class="{{ cssClasses['form-day-label'] }} {% if(ctx.component.fields.day.required) { %}{{ cssClasses['form-day-required'] }}{% } %}">{{ctx.t('day')}}</label>
    {% } %}
    <div class="{{ cssClasses['form-day-input'] }}">{{ctx.day}}</div>
  </div>
  {% } %}
  {% if (ctx.showYear) { %}
  <div class="{{ cssClasses['form-day-field'] }}">
    {% if (!ctx.component.hideInputLabels) { %}
    <label for="{{ctx.component.key}}-year" class="{{ cssClasses['form-day-label'] }} {% if(ctx.component.fields.year.required) { %}{{ cssClasses['form-day-required'] }}{% } %}">{{ctx.t('year')}}</label>
    {% } %}
    <div class="{{ cssClasses['form-day-input'] }}">{{ctx.year}}</div>
  </div>
  {% } %}
</div>
<input name="ctx.data[day]" type="hidden" class="{{ cssClasses['form-day-hidden'] }}" lang="en" value="" ref="input">
