<tr ref="row" class="{{ ctx.cssClasses['form-multi-value-row'] }}">
  <td>
    {{ctx.element}}
  </td>
  {% if (!ctx.disabled) { %}
  <td>
    <button type="button" class="{{ ctx.cssClasses['form-multi-value-remove'] }}" ref="removeRow">
      <i class="{{ctx.iconClass('remove-circle')}}"></i>
    </button>
  </td>
  {% } %}
</tr>
