<div class="form-wizard {{ctx.className}}">
  <div class="form-wizard-container">
    {% if (ctx.wizardHeaderType === 'wizardHeaderVertical') { %}
    <div class="form-wizard-vertical">
      {% if (ctx.wizardHeaderLocation !== 'right') { %}
      <div class="form-wizard-sidebar">
        {{ ctx.wizardHeader }}
      </div>
      {% } %}
      <div class="form-wizard-content" ref="{{ctx.wizardKey}}">
        {{ctx.components}}
      </div>
      {% if (ctx.wizardHeaderLocation === 'right') { %}
      <div class="form-wizard-sidebar">
        {{ ctx.wizardHeader }}
      </div>
      {% } %}
    </div>
    <div class="form-wizard-navigation-container{% if (ctx.wizardHeaderLocation === 'right') { %} form-wizard-navigation-right{% } %}">
      {{ ctx.wizardNav }}
    </div>
    {% } else { %}
    <div class="form-wizard-horizontal">
      {{ ctx.wizardHeader }}
      <div class="form-wizard-content" ref="{{ctx.wizardKey}}">
        {{ctx.components}}
      </div>
      {{ ctx.wizardNav }}
    </div>
    {% } %}
  </div>
</div>
