<div class="{{ctx.className}}">
    <div style="position: relative;">
        {% if (ctx.wizardHeaderType === 'wizardHeaderVertical') { %}
        <div class="grid grid-cols-12 gap-4">
            {% if (ctx.wizardHeaderLocation !== 'right') { %}
            <div class="col-span-2">
                {{ ctx.wizardHeader }}
            </div>
            {% } %}
            <div class="wizard-page col-span-10" ref="{{ctx.wizardKey}}">
                {{ctx.components}}
            </div>
            {% if (ctx.wizardHeaderLocation === 'right') { %}
            <div class="col-span-2">
                {{ ctx.wizardHeader }}
            </div>
            {% } %}
        </div>
        <div class="col-start-3 col-span-10 {{ctx.wizardHeaderLocation === 'right' ? '' : ''}}">
            {{ ctx.wizardNav }}
        </div>
        {% } else { %}
        {{ ctx.wizardHeader }}
        <div class="wizard-page" ref="{{ctx.wizardKey}}">
            {{ctx.components}}
        </div>
        {{ ctx.wizardNav }}
        {% } %}
    </div>
</div>
