<div class="form-builder-component" ref="component">
  <div class="form-builder-component-header">
    <div class="form-builder-component-title">
      {{ctx.component.label}}
    </div>
    <div class="form-builder-component-actions">
      <button type="button" class="form-builder-component-edit" ref="editButton" aria-label="{{ctx.t('edit')}}">
        <i class="{{ctx.iconClass('edit')}}"></i>
      </button>
      <button type="button" class="form-builder-component-remove" ref="removeButton" aria-label="{{ctx.t('remove')}}">
        <i class="{{ctx.iconClass('remove')}}"></i>
      </button>
    </div>
  </div>
  <div class="form-builder-component-content">
    {{ctx.component.content}}
  </div>
</div>
