{% if (ctx.node.isRoot) { %}
  <div ref="root" class="{{ ctx.cssClasses['form-tree-root'] }}">
{% } else { %}
  <li ref="node" class="{{ ctx.cssClasses['form-tree-node'] }} {{ ctx.cssClasses['form-tree-level'] }} {{ ctx.cssClasses['form-tree-level-' + (ctx.odd ? 'odd' : 'even')] }}">
{% } %}
  {% if (ctx.content) { %}
    <div ref="content" class="{{ ctx.cssClasses['form-tree-node-content'] }}">
      {{ ctx.content }}
    </div>
  {% } %}
  {% if (ctx.childNodes && ctx.childNodes.length) { %}
    <ul ref="childNodes" class="{{ ctx.cssClasses['form-tree-node-children'] }}">
      {{ ctx.childNodes.join('') }}
    </ul>
  {% } %}
{% if (ctx.node.isRoot) { %}
  </div>
{% } else { %}
  </li>
{% } %}
