{% if (ctx.node.isRoot) { %}
  <div ref="root" class="px-4 py-3 border-b border-border">
{% } else { %}
  <li ref="node" class="px-4 py-3 border-b border-border tree__level tree__level_{{ ctx.odd ? 'odd' : 'even' }}">
{% } %}
  {% if (ctx.content) { %}
    <div ref="content" class="tree__node-content">
      {{ ctx.content }}
    </div>
  {% } %}
  {% if (ctx.childNodes && ctx.childNodes.length) { %}
    <ul ref="childNodes" class="tree__node-children divide-y divide-border">
      {{ ctx.childNodes.join('') }}
    </ul>
  {% } %}
{% if (ctx.node.isRoot) { %}
  </div>
{% } else { %}
  </li>
{% } %}
