<div class="builder-components">
  {% for (var group in ctx.groups) { %}
    <div class="builder-component-group">
      <div class="builder-component-group-title">
        {{ctx.groups[group].title}}
      </div>
      <div class="builder-component-group-items">
        {% for (var component in ctx.groups[group].components) { %}
          <div 
            class="builder-component-item" 
            data-type="{{ctx.groups[group].components[component].type}}"
            tabindex="0"
            role="button"
            aria-label="{{ctx.t('addComponent', { component: ctx.groups[group].components[component].label })}}"
          >
            <i class="{{ctx.iconClass(ctx.groups[group].components[component].icon)}}"></i>
            <span>{{ctx.groups[group].components[component].label}}</span>
          </div>
        {% } %}
      </div>
    </div>
  {% } %}
</div>
