{% if (ctx.mode.autocomplete) { %}
  <div class="form-address-autocomplete">
    <input
      ref="{{ ctx.ref.searchInput }}"
      class="form-input form-address-input"
      {% for (var attr in ctx.inputAttributes) { %}
        {{attr}}="{{ctx.inputAttributes[attr]}}"
      {% } %}
      value="{{ ctx.displayValue }}"
      autocomplete="off"
      aria-label="{{ctx.t('autocomplete')}}"
    >
    {% if (!ctx.component.disableClearIcon) { %}
      <button
        type="button"
        class="form-address-clear"
        tabindex="{{ ctx.inputAttributes.tabindex }}"
        ref="{{ ctx.ref.removeValueIcon }}"
        aria-label="{{ctx.t('clear')}}"
      >
        <i class="{{ctx.iconClass('close')}}"></i>
      </button>
    {% } %}
  </div>
{% } %}
{% if (ctx.self.manualModeEnabled) { %}
  <div class="form-check">
    <label class="form-check-label">
      <input
        ref="{{ ctx.ref.modeSwitcher }}"
        type="checkbox"
        class="form-check-input"
        tabindex="{{ ctx.inputAttributes.tabindex }}"
        {% if (ctx.mode.manual) { %}checked=true{% } %}
        {% if (ctx.disabled) { %}disabled=true{% } %}
      >
      <span>{{ ctx.t(ctx.component.switchToManualModeLabel, { _userInput: true }) }}</span>
    </label>
  </div>
{% } %}
{% if (ctx.self.manualMode) { %}
  <div class="form-address-fields" ref="{{ ctx.nestedKey }}">
    {{ ctx.children }}
  </div>
{% } %}
