<div class="form-component-modal-wrapper form-component-modal-wrapper-{{ ctx.component.type }}" ref="componentModalWrapper">
  <div ref="openModalWrapper"></div>
  <div class="form-component-modal component-rendering-hidden" ref="modalWrapper">
    <div class="form-component-modal-overlay" ref="modalOverlay"></div>
    <div class="form-component-modal-content" aria-labelledby="ml-{{ctx.instance.id}}-{{ctx.component.key}}" {% if (!ctx.self.isIE()) { %} role="dialog" {% } %} ref="modalContents">
      <label class="visually-hidden" id="ml-{{ctx.instance.id}}-{{ctx.component.key}}">{{ ctx.t(ctx.component.label) }}{{ctx.self.isIE() ? ', dialog' : ''}}</label>
      <button class="form-component-modal-close" aria-label="{{ctx.t('closeBtnDescription')}}" ref="modalClose"></button>
      <div ref="modalContent">
        {% if (ctx.visible) { %}
        <div ref="componentContent">{{ctx.children}}</div>
        {% } %}
        <div class="form-component-modal-buttons">
          <button class="form-component-modal-button form-component-modal-cancel" ref="modalClose" aria-label="{{ctx.t('cancelBtnDescription')}}">{{ctx.t('cancel')}}</button>
          <button class="form-component-modal-button form-component-modal-save" ref="modalSave" aria-label="{{ctx.t('saveBtnDescription')}}">{{ctx.t('save')}}</button>
        </div>
      </div>
    </div>
    <span class="visually-hidden" ref="modalLiveRegion" aria-live="assertive"></span>
  </div>
</div>
