{{ctx.element}}
<div
  class="{{ ctx.cssClasses['form-signature'] }}"
  data-width="{{ctx.component.width}}"
  data-height="{{ctx.component.height}}"
  tabindex="{{ctx.component.tabindex || 0}}"
  ref="padBody"
>
  <a class="{{ ctx.cssClasses['form-signature-refresh'] }}" ref="refresh">
    <i class="{{ctx.iconClass('refresh')}}"></i>
  </a>
  <canvas class="{{ ctx.cssClasses['form-signature-canvas'] }}" data-height="{{ctx.component.height}}" ref="canvas"></canvas>
  {% if (ctx.required) { %}
  <span class="{{ ctx.cssClasses['form-signature-required'] }}">
    <i class="{{ctx.iconClass('asterisk')}}"></i>
  </span>
  {% } %}
  <img class="{{ ctx.cssClasses['form-signature-image'] }}" ref="signatureImage">
</div>
{% if (ctx.component.footer) { %}
  <div class="{{ ctx.cssClasses['form-signature-footer'] }}">
    {{ctx.t(ctx.component.footer, { _userInput: true })}}
  </div>
{% } %}
