<div class="{{ ctx.cssClasses['form-tree-view'] }}">
  {% ctx.values.forEach(function(value) { %}
    <div class="{{ ctx.cssClasses['form-tree-view-value'] }}">
      {{ value }}
    </div>
  {% }) %}
  <div class="{{ ctx.cssClasses['form-tree-view-actions'] }}">
    <div class="{{ ctx.cssClasses['form-tree-view-buttons'] }}">
      {% if (ctx.node.hasChildren) { %}
        <button ref="toggleNode" class="{{ ctx.cssClasses['form-tree-view-toggle'] }}">{{ ctx.t(ctx.node.collapsed ? 'expand' : 'collapse') }}</button>
      {% } %}
      {% if (!ctx.readOnly) { %}
        <button ref="addChild" class="{{ ctx.cssClasses['form-tree-view-add'] }}">{{ ctx.t('add') }}</button>
        <button ref="editNode" class="{{ ctx.cssClasses['form-tree-view-edit'] }}">{{ ctx.t('edit') }}</button>
        <button ref="removeNode" class="{{ ctx.cssClasses['form-tree-view-remove'] }}">{{ ctx.t('delete') }}</button>
        {% if (ctx.node.revertAvailable) { %}
          <button ref="revertNode" class="{{ ctx.cssClasses['form-tree-view-revert'] }}">{{ ctx.t('revert') }}</button>
        {% } %}
      {% } %}
    </div>
  </div>
</div>
