<% const cssClasses = require('../cssClasses'); %>
<ul class="{{ cssClasses['form-editgrid-list'] }}
    {{ ctx.component.striped ? cssClasses['form-editgrid-striped'] : ''}}
    {{ ctx.component.bordered ? cssClasses['form-editgrid-bordered'] : ''}}
    {{ ctx.component.hover ? cssClasses['form-editgrid-hover'] : ''}}
    {{ ctx.component.condensed ? cssClasses['form-editgrid-condensed'] : ''}}
    ">
  {% if (ctx.header) { %}
  <li class="{{ cssClasses['form-editgrid-header'] }}">
    {{ctx.header}}
  </li>
  {% } %}
  {% ctx.rows.forEach(function(row, rowIndex) { %}
  <li class="{{ cssClasses['form-editgrid-item'] }}" ref="{{ctx.ref.row}}">
    {{row}}
    {% if (ctx.openRows[rowIndex] && !ctx.readOnly) { %}
    <div class="{{ cssClasses['form-editgrid-actions'] }}">
      <button class="{{ cssClasses['form-editgrid-save'] }}" ref="{{ctx.ref.saveRow}}">{{ctx.t(ctx.component.saveRow || 'save', { _userInput: !!ctx.component.saveRow })}}</button>
      {% if (ctx.component.removeRow) { %}
      <button class="{{ cssClasses['form-editgrid-cancel'] }}" ref="{{ctx.ref.cancelRow}}">{{ctx.t(ctx.component.removeRow || 'cancel', { _userInput: !!ctx.component.removeRow })}}</button>
      {% } %}
    </div>
    {% } %}
    <div class="{{ cssClasses['form-editgrid-error-container'] }}">
      <div class="{{ cssClasses['form-editgrid-error'] }}">
        {{ctx.errors[rowIndex]}}
      </div>
    </div>
  </li>
  {% }) %}
  {% if (ctx.footer) { %}
  <li class="{{ cssClasses['form-editgrid-footer'] }}">
    {{ctx.footer}}
  </li>
  {% } %}
</ul>
{% if (!ctx.readOnly && ctx.hasAddButton) { %}
<button class="{{ cssClasses['form-editgrid-add'] }}" ref="{{ctx.ref.addRow}}">
  <i class="{{ctx.iconClass('plus')}}"></i> {{ctx.t(ctx.component.addAnother || 'addAnother', { _userInput: !!ctx.component.addAnother})}}
</button>
{% } %}
