<div class="form-builder-wizard">
  <div class="form-builder-wizard-sidebar">
    {{ctx.sidebar}}
  </div>
  <div class="form-builder-wizard-main">
    <ol class="form-builder-wizard-pages">
      {% ctx.pages.forEach(function(page, pageIndex) { %}
      <li>
        <span title="{{page.title}}" class="form-builder-wizard-page-label{% if (pageIndex === ctx.self.page) { %} active{% } %}" ref="gotoPage">{{page.title}}</span>
      </li>
      {% }) %}
      <li class="form-builder-wizard-add-page">
        <span title="{{ctx.t('createPage')}}" class="form-builder-wizard-page-label add" ref="addPage">
          <i class="{{ctx.iconClass('plus')}}"></i> {{ctx.t('page')}}
        </span>
      </li>
    </ol>
    <div class="form-builder-wizard-form" ref="form">
      {{ctx.form}}
    </div>
  </div>
</div>
