<table class="w-full text-sm
    {{ ctx.component.striped ? '[&_tbody_tr:nth-child(odd)]:bg-muted/50' : ''}}
    {{ ctx.component.bordered ? 'border border-border [&_th]:border [&_th]:border-border [&_td]:border [&_td]:border-border' : ''}}
    {{ ctx.component.hover ? '[&_tbody_tr]:hover:bg-muted/50' : ''}}
    {{ ctx.component.condensed ? '[&_th]:px-2 [&_th]:py-1 [&_td]:px-2 [&_td]:py-1' : ''}}
  ">
  <caption class="sr-only">{{ctx.t(ctx.component.label)}}</caption>
  {% if (ctx.component.header && ctx.component.header.length > 0) { %}
  <thead>
    <tr>
      {% ctx.component.header.forEach(function(header) { %}
      <th scope="col">{{ctx.t(header)}}</th>
      {% }) %}
    </tr>
  </thead>
  {% } %}
  <tbody>
    {% ctx.tableComponents.forEach(function(row, rowIndex) { %}
    <tr ref="row-{{ctx.id}}">
      {% row.forEach(function(column, colIndex) { %}
      <td scope="col" ref="{{ctx.tableKey}}-{{rowIndex}}"{% if (ctx.cellClassName) { %} class="{{ctx.cellClassName}}"{% } %}>{{column}}</td>
      {% }) %}
    </tr>
    {% }) %}
  </tbody>
</table>
