<% const cssClasses = require('../cssClasses'); %>
<div class="{{ cssClasses['form-well'] }}">
  <div ref="{{ctx.nestedKey}}" class="{{ cssClasses['form-well-content'] }}">
    {{ctx.children}}
  </div>
</div>
