<table class="{{ ctx.cssClasses['form-survey'] }}" aria-labelledby="l-{{ctx.instance.id}}-{{ctx.component.key}}">
  <thead class="{{ ctx.cssClasses['form-survey-header'] }}">
    <tr class="{{ ctx.cssClasses['form-survey-row'] }}">
      <th class="{{ ctx.cssClasses['form-survey-header-cell'] }}"></th>
      {% ctx.component.values.forEach(function(value) { %}
      <th class="{{ ctx.cssClasses['form-survey-header-cell'] }}" style="text-align: center;">
        {{ctx.t(value.label, { _userInput: true })}}
        {% if (value.tooltip) { %}
          <i ref="tooltip" class="{{ ctx.cssClasses['form-survey-tooltip'] }}" data-tooltip="{{value.tooltip}}"></i>
        {% } %}
      </th>
      {% }) %}
    </tr>
  </thead>
  <tbody class="{{ ctx.cssClasses['form-survey-body'] }}">
    {% ctx.component.questions.forEach(function(question) { %}
    <tr class="{{ ctx.cssClasses['form-survey-row'] }}">
      <td class="{{ ctx.cssClasses['form-survey-cell'] }}">
        {{ctx.t(question.label)}}
        {% if (question.tooltip) { %}
          <i ref="tooltip" class="{{ ctx.cssClasses['form-survey-tooltip'] }}" data-tooltip="{{question.tooltip}}"></i>
        {% } %}
      </td>
      {% ctx.component.values.forEach(function(value) { %}
      <td class="{{ ctx.cssClasses['form-survey-cell'] }}" style="text-align: center;">
        <input type="radio" class="{{ ctx.cssClasses['form-survey-input'] }}" name="{{ ctx.self.getInputName(question) }}" value="{{value.value}}" id="{{ctx.key}}-{{question.value}}-{{value.value}}" ref="input">
      </td>
      {% }) %}
    </tr>
    {% }) %}
  </tbody>
</table>
