<table class="w-full text-sm [&_tbody_tr:nth-child(odd)]:bg-muted/50 [&_th]:border [&_th]:border-border [&_td]:border [&_td]:border-border [&_th]:px-4 [&_th]:py-2 [&_td]:px-4 [&_td]:py-2">
  <tbody>
    {% ctx.component.questions.forEach(function(question) { %}
    <tr>
      <th>{{ctx.t(question.label)}}</th>
      <td>
      {% ctx.component.values.forEach(function(item) { %}
        {% if (ctx.value && ctx.value.hasOwnProperty(question.value) && ctx.value[question.value] === item.value) { %}
          {{ctx.t(item.label)}}
        {% } %}
      {% }) %}
      </td>
    </tr>
    {% }) %}
  </tbody>
</table>
