<ul class="form-wizard-navigation" id="{{ ctx.wizardKey }}-nav">
  {% ctx.buttonOrder.forEach(function(button) { %}
    {% if (button === 'cancel' && ctx.buttons.cancel) { %}
    <li class="form-wizard-navigation-item">
      <button class="form-wizard-navigation-button form-wizard-navigation-cancel" ref="{{ctx.wizardKey}}-cancel" aria-label="{{ctx.t('cancelButtonAriaLabel')}}">{{ctx.t('cancel')}}</button>
    </li>
    {% } %}
    {% if (button === 'previous' && ctx.buttons.previous) { %}
    <li class="form-wizard-navigation-item">
      <button class="form-wizard-navigation-button form-wizard-navigation-previous" ref="{{ctx.wizardKey}}-previous" aria-label="{{ctx.t('previousButtonAriaLabel')}}">{{ctx.t('previous')}}</button>
    </li>
    {% } %}
    {% if (button === 'next' && ctx.buttons.next) { %}
    <li class="form-wizard-navigation-item">
      <button class="form-wizard-navigation-button form-wizard-navigation-next" ref="{{ctx.wizardKey}}-next" aria-label="{{ctx.t('nextButtonAriaLabel')}}">{{ctx.t('next')}}</button>
    </li>
    {% } %}
    {% if (button === 'submit' && ctx.buttons.submit) { %}
    <li class="form-wizard-navigation-item">
      {% if (ctx.disableWizardSubmit){ %}
      <button disabled class="form-wizard-navigation-button form-wizard-navigation-submit" ref="{{ctx.wizardKey}}-submit" aria-label="{{ctx.t('submitButtonAriaLabel')}}">{{ctx.t('submit')}}</button>
      {% } else { %}
      <button class="form-wizard-navigation-button form-wizard-navigation-submit" ref="{{ctx.wizardKey}}-submit" aria-label="{{ctx.t('submitButtonAriaLabel')}}">{{ctx.t('submit')}}</button>
      {% } %}
    </li>
    {% } %}
  {% }) %}
</ul>
