<div class="{{ ctx.cssClasses['form-loading'] }}">
  <div class="{{ ctx.cssClasses['form-loading-overlay'] }}">
    <div class="{{ ctx.cssClasses['form-loading-spinner'] }}"></div>
    <div>{{ctx.t('loading')}}...</div>
  </div>
</div>
