<fieldset class="{{ ctx.cssClasses['form-fieldset'] }}">
  {% if (ctx.component.legend) { %}
  <legend ref="header" class="{{ ctx.cssClasses['form-fieldset-legend'] }} {{ctx.component.collapsible ? cssClasses['form-fieldset-legend-clickable'] : ''}}">
    {{ctx.t(ctx.component.legend, { _userInput: true })}}
    {% if (ctx.component.tooltip) { %}
      <i ref="tooltip" tabindex="0" class="{{ ctx.cssClasses['form-fieldset-tooltip'] }} {{ctx.iconClass('question-sign')}}" data-tooltip="{{ctx.component.tooltip}}"></i>
    {% } %}
  </legend>
  {% } %}
  {% if (!ctx.collapsed) { %}
  <div class="{{ ctx.cssClasses['form-fieldset-body'] }}" ref="{{ctx.nestedKey}}">
    {{ctx.children}}
  </div>
  {% } %}
</fieldset>
