<% const cssClasses = require('../cssClasses'); %>
<div class="<%= cssClasses['form-resource'] %>">
  <div class="<%= cssClasses['form-resource-content'] %>">
    {{ctx.element}}
  </div>
  <div class="<%= cssClasses['form-resource-actions'] %>">
    <button class="<%= cssClasses['form-resource-add'] %>" ref="addResource">
      <i class="{{ctx.iconClass('plus')}}"></i>
      {{ctx.t(ctx.component.addResourceLabel || 'addResource', { _userInput: !!ctx.component.addResourceLabel })}}
    </button>
  </div>
</div>
