<div class="{{ ctx.cssClasses['form-field-wrapper'] }} {{ ctx.isRightPosition ? cssClasses['form-field-wrapper-reverse'] : '' }}">
  {% if (!ctx.label.hidden) { %}
    <div class="{{ ctx.cssClasses['form-field-label'] }} {{ ctx.isRightAlign ? cssClasses['form-field-label-right'] : '' }}" style="{{ ctx.labelStyles }}">
      {{ ctx.labelMarkup }}
    </div>
  {% } %}

  {% if (ctx.label.hidden && ctx.label.className && ctx.component.validate.required) { %}
    <div class="{{ ctx.cssClasses['form-field-label'] }} {{ ctx.isRightAlign ? cssClasses['form-field-label-right'] : '' }}" style="{{ ctx.labelStyles }}">
      <label class="{{ ctx.cssClasses['form-field-hidden-label'] }} {{ ctx.label.className }}"></label>
    </div>
  {% } %}

  <div class="{{ ctx.cssClasses['form-field-content'] }}" style="{{ ctx.contentStyles }}">
    {{ ctx.element }}
  </div>
</div>

{% if (ctx.component.description) { %}
  <div class="{{ ctx.cssClasses['form-field-description'] }}">
    {{ ctx.t(ctx.component.description, { _userInput: true }) }}
  </div>
{% } %}
