{% if (!ctx.label.hidden && ctx.label.labelPosition !== 'bottom') { %}
  {{ ctx.labelMarkup }}
{% } %}

{% if (ctx.label.hidden && ctx.label.className && ctx.component.validate.required) { %}
  <label class="{{ctx.label.className}}"></label>
{% } %}

{{ctx.element}}

{% if (!ctx.label.hidden && ctx.label.labelPosition === 'bottom') { %}
  {{ ctx.labelMarkup }}
{% } %}
{% if (ctx.component.description) { %}
  <div id="d-{{ctx.instance.id}}-{{ctx.component.key}}" class="text-sm text-muted-foreground mt-1.5">{{ctx.t(ctx.component.description, { _userInput: true })}}</div>
{% } %}
