<nav class="form-wizard-header" aria-label="Wizard navigation" id="{{ ctx.wizardKey }}-header" ref="{{ctx.wizardKey}}-header">
  <ul class="form-wizard-pages" role="tablist">
    {% ctx.panels.forEach(function(panel, index) { %}
    <li class="form-wizard-page{% if (ctx.currentPage === index) { %} form-wizard-page-active{% } %}" style="cursor: pointer;">
      <button 
        tabindex="0" 
        data-index="{{index}}" 
        role="tab" 
        class="form-wizard-page-link" 
        ref="{{ctx.wizardKey}}-link"
        aria-selected="{{ctx.currentPage === index ? 'true' : 'false'}}"
      >
        {{ctx.t(panel.title, { _userInput: true })}}
        {% if (panel.tooltip && ctx.currentPage === index) { %}
        <i ref="{{ctx.wizardKey}}-tooltip" class="form-wizard-page-tooltip {{ctx.iconClass('question-sign')}}" data-tooltip="{{panel.tooltip}}"></i>
        {% } %}
      </button>
    </li>
    {% }) %}
  </ul>
</nav>
