<% const cssClasses = require('../cssClasses'); %>
<div class="<%= cssClasses['form-loader'] %>">
  <div class="<%= cssClasses['form-loader-content'] %>">
    <div class="<%= cssClasses['form-loader-spinner'] %>"></div>
  </div> 
</div>
