<div id="{{ctx.mapId}}" class="{{ ctx.cssClasses['form-map'] }}" style="min-height: 300px; height: calc(100vh - 600px);" ref="gmapElement">
  <div class="{{ ctx.cssClasses['form-map-container'] }}"></div>
  <div class="{{ ctx.cssClasses['form-map-search'] }}"></div>
  <div class="{{ ctx.cssClasses['form-map-results'] }}"></div>
</div>
