{% if (ctx.options.vpat) { %}
  <span tabindex="-1" class="{{ ctx.cssClasses['form-file-hidden'] }}" id="invisible-{{ctx.instance.id}}-{{ctx.component.key}}"></span>
{% } %}
{% if (!ctx.self.imageUpload) { %}
  {% if (ctx.options.vpat) { %}
    <div>{{(!ctx.component.filePattern || ctx.component.filePattern === '*') ? ctx.t('anyFileTypesAllowed') : ctx.t('allowedFileTypes') + ': ' + ctx.component.filePattern}}</div>
  {% } %}
  <ul class="{{ ctx.cssClasses['form-file-list'] }}">
    <li class="{{ ctx.cssClasses['form-file-header'] }}">
      <div class="{{ ctx.cssClasses['form-file-row'] }}">
        <div class="{{ ctx.cssClasses['form-file-name'] }}"><strong>{{ctx.t('fileName')}}</strong></div>
        <div class="{{ ctx.cssClasses['form-file-size'] }}"><strong>{{ctx.t('size')}}</strong></div>
        {% if (ctx.self.hasTypes) { %}
          <div class="{{ ctx.cssClasses['form-file-type'] }}"><strong>{{ctx.t('type')}}</strong></div>
        {% } %}
        <div class="{{ ctx.cssClasses['form-file-actions'] }}">
          {% if (ctx.showSyncButton) { %}
            <button
              class="{{ ctx.cssClasses['form-file-sync'] }}"
              ref="syncNow"
              {% if (ctx.disabled || ctx.isSyncing) { %}disabled=true{% } %}
            >{{ctx.isSyncing ? ctx.t('syncing') : ctx.t('syncNow')}}</button>
          {% } %}
        </div>
      </div>
    </li>
    {% ctx.files.forEach(function(file) { %}
      <li class="{{ ctx.cssClasses['form-file-item'] }}">
        <div class="{{ ctx.cssClasses['form-file-row'] }}">
          <div class="{{ ctx.cssClasses['form-file-name'] }}">
            {% if (ctx.component.uploadOnly) { %}
              {{file.originalName || file.name}}
            {% } else { %}
              <a href="{{file.url || '#'}}" target="_blank" ref="fileLink" class="{{ ctx.cssClasses['form-file-link'] }}">
                <span class="{{ ctx.cssClasses['form-file-hidden'] }}">{{ctx.t('pressToOpen') + ' '}}</span>{{file.originalName || file.name}}
              </a>
            {% } %}
          </div>
          <div class="{{ ctx.cssClasses['form-file-size'] }}">{{ctx.fileSize(file.size)}}</div>
          {% if (ctx.self.hasTypes && !ctx.disabled) { %}
            <div class="{{ ctx.cssClasses['form-file-type'] }}">
              <select class="{{ ctx.cssClasses['form-file-type-select'] }}" ref="fileType">
                {% ctx.component.fileTypes.map(function(type) { %}
                  <option value="{{ type.value }}" {% if (type.label === file.fileType) { %}selected="selected"{% } %}>{{ctx.t(type.label)}}</option>
                {% }); %}
              </select>
            </div>
          {% } %}
          {% if (ctx.self.hasTypes && ctx.disabled) { %}
            <div class="{{ ctx.cssClasses['form-file-type'] }}">{{file.fileType}}</div>
          {% } %}
          {% if (!ctx.disabled) { %}
            <div class="{{ ctx.cssClasses['form-file-actions'] }}"><i tabindex="0" class="{{ ctx.cssClasses['form-file-remove'] }} {{ctx.iconClass('remove')}}" ref="removeLink"></i></div>
          {% } %}
        </div>
      </li>
    {% }) %}
    {% ctx.filesToDelete.forEach(function(file) { %}
      <li class="{{ ctx.cssClasses['form-file-item'] }}">
        <div class="{{ ctx.cssClasses['form-file-row'] }}">
          <div class="{{ ctx.cssClasses['form-file-name'] }}">
            <div>{{file.originalName || file.name}}</div>
            <div class="{{ ctx.cssClasses['form-file-status'] }} {{ ctx.cssClasses['form-file-status-' + file.status] }}">{{ctx.t(file.message)}}</div>
          </div>
          <div class="{{ ctx.cssClasses['form-file-size'] }}">{{ctx.fileSize(file.size)}}</div>
          {% if (ctx.self.hasTypes) { %}
            <div class="{{ ctx.cssClasses['form-file-type'] }}">
              <select class="{{ ctx.cssClasses['form-file-type-select'] }}" ref="fileType">
                {% ctx.component.fileTypes.map(function(type) { %}
                  <option value="{{ type.value }}" {% if (type.label === file.fileType) { %}selected="selected"{% } %}>{{ctx.t(type.label)}}</option>
                {% }); %}
              </select>
            </div>
          {% } %}
          {% if (!ctx.isSyncing && file.status !== 'success') { %}
            <div class="{{ ctx.cssClasses['form-file-actions'] }}"><i tabindex="0" class="{{ ctx.cssClasses['form-file-restore'] }} {{ctx.iconClass('arrow-counterclockwise')}}" ref="restoreFile"></i></div>
          {% } %}
        </div>
      </li>
    {% }) %}
    {% ctx.filesToUpload.forEach(function(file) { %}
      <li class="{{ ctx.cssClasses['form-file-item'] }}">
        <div class="{{ ctx.cssClasses['form-file-row'] }}">
          <div class="{{ ctx.cssClasses['form-file-name'] }}">
            <div>{{file.originalName || file.name}}</div>
            {% if (file.status === 'progress') { %}
              <div class="{{ ctx.cssClasses['form-file-progress'] }}">
                <div id="{{file.id}}" class="{{ ctx.cssClasses['form-file-progress-bar'] }}" role="progressbar" aria-valuenow="{{file.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{file.progress}}%" ref="progress">
                  <span class="{{ ctx.cssClasses['form-file-hidden'] }}">{{file.progress}}% {{ctx.t('completeStatus')}}</span>
                </div>
              </div>
            {% } else { %}
              <div class="{{ ctx.cssClasses['form-file-status'] }} {{ ctx.cssClasses['form-file-status-' + file.status] }}">{{ctx.t(file.message)}}</div>
            {% } %}
          </div>
          <div class="{{ ctx.cssClasses['form-file-size'] }}">{{ctx.fileSize(file.size)}}</div>
          {% if (ctx.self.hasTypes) { %}
            <div class="{{ ctx.cssClasses['form-file-type'] }}">
              <select class="{{ ctx.cssClasses['form-file-type-select'] }}" ref="fileType">
                {% ctx.component.fileTypes.map(function(type) { %}
                  <option value="{{ type.value }}" {% if (type.label === file.fileType) { %}selected="selected"{% } %}>{{ctx.t(type.label)}}</option>
                {% }); %}
              </select>
            </div>
          {% } %}
          {% if (file.status === 'progress') { %}
            <div class="{{ ctx.cssClasses['form-file-actions'] }}"><i id="abort-{{file.id}}" tabindex="0" class="{{ ctx.cssClasses['form-file-abort'] }} {{ctx.iconClass('ban')}}"></i></div>
          {% } else if (!ctx.isSyncing && file.status !== 'success') { %}
            <div class="{{ ctx.cssClasses['form-file-actions'] }}"><i tabindex="0" class="{{ ctx.cssClasses['form-file-remove'] }} {{ctx.iconClass('remove')}}" ref="fileToSyncRemove"></i></div>
          {% } %}
        </div>
      </li>
    {% }) %}
  </ul>
{% } else { %}
  <div class="{{ ctx.cssClasses['form-file-image-container'] }}">
    {% ctx.files.forEach(function(file) { %}
      <div class="{{ ctx.cssClasses['form-file-image-wrapper'] }}">
        <span class="{{ ctx.cssClasses['form-file-image'] }}">
          <img ref="fileImage" src="" alt="{{file.originalName || file.name}}" style="width:{{ctx.component.imageSize}}px">
          {% if (!ctx.disabled) { %}
            <i tabindex="0" class="{{ ctx.cssClasses['form-file-remove'] }} {{ctx.iconClass('remove')}}" ref="removeLink" aria-label="{{ctx.t('removeBtnPressToRemove') + ' ' + (file.originalName || file.name) + ' ' + ctx.t('file')}}"></i>
          {% } %}
        </span>
      </div>
    {% }) %}
    {% ctx.filesToUpload.forEach(function(file) { %}
      {% if (file.status === 'progress') { %}
        <div class="{{ ctx.cssClasses['form-file-size'] }}">{{ctx.fileSize(file.size)}}</div>
        <div class="{{ ctx.cssClasses['form-file-progress'] }}">
          <div id="{{file.id}}" class="{{ ctx.cssClasses['form-file-progress-bar'] }}" role="progressbar" aria-valuenow="{{file.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{file.progress}}%" ref="progress">
            <span class="{{ ctx.cssClasses['form-file-hidden'] }}">{{file.progress}}% {{ctx.t('completeStatus')}}</span>
          </div>
        </div>
      {% } else { %}
        <div class="{{ ctx.cssClasses['form-file-status'] }} {{ ctx.cssClasses['form-file-status-' + file.status] }}">{{ctx.t(file.message)}}</div>
      {% } %}
    {% }) %}
  </div>
{% } %}
{% if (!ctx.disabled && (ctx.component.multiple || !ctx.files.length)) { %}
  {% if (ctx.self.useWebViewCamera) { %}
    <div class="{{ ctx.cssClasses['form-file-selector'] }}">
      <button class="{{ ctx.cssClasses['form-file-gallery'] }}" ref="galleryButton"><i class="{{ctx.iconClass('book')}}"></i> {{ctx.t('gallery')}}</button>
      <button class="{{ ctx.cssClasses['form-file-camera'] }}" ref="cameraButton"><i class="{{ctx.iconClass('camera')}}"></i> {{ctx.t('camera')}}</button>
    </div>
  {% } else if (!ctx.self.cameraMode) { %}
    <div class="{{ ctx.cssClasses['form-file-selector'] }}" ref="fileDrop" {{ctx.fileDropHidden ?'hidden' : ''}}>
      {% if (!ctx.self.isMobile.any) { %}
        <i class="{{ctx.iconClass('cloud-upload')}}"></i> {{ctx.t('dropFilesToAttach')}}
      {% } %}
      {% if (ctx.self.imageUpload && ctx.component.webcam) { %}
        <a href="#" ref="toggleCameraMode" class="{{ ctx.cssClasses['form-file-camera-toggle'] }}"><i class="{{ctx.iconClass('camera')}}"></i>{{ctx.t('useCamera')}}</a>
        {{ctx.t('or')}}
      {% } %}
      <a href="#" ref="fileBrowse" class="{{ ctx.cssClasses['form-file-browse'] }}">
        {% if (ctx.self.isMobile.any && ctx.component.capture) { %}
          {% if (ctx.component.filePattern && ctx.component.filePattern.includes("video")) { %}
            <i class="{{ctx.iconClass('video')}}"></i>{{ctx.t('captureVideo')}}
          {% } else if (ctx.component.filePattern && ctx.component.filePattern.includes("audio")) { %}
            <i class="{{ctx.iconClass('microphone')}}"></i>{{ctx.t('captureAudio')}}
          {% } else { %}
            <i class="{{ctx.iconClass('camera')}}"></i>{{ctx.t('captureImage')}}
          {% } %}
        {% } else { %}
          <i class="{{ctx.iconClass('folder-open')}}"></i>{{ctx.t('browseFiles')}}
        {% } %}
        <span class="{{ ctx.cssClasses['form-file-hidden'] }}">
          {{ctx.t('browseToAttachFileFor') + ' ' + ctx.t(ctx.component.label, { _userInput: true }) + '. ' +
            (ctx.component.description ? ctx.t(ctx.component.description, { _userInput: true }) + '. ' : '') +
            ((!ctx.component.filePattern || ctx.component.filePattern === '*') ? ctx.t('anyFileTypesAllowed') : ctx.t('allowedFileTypes') + ': ' + ctx.component.filePattern)}}
        </span>
      </a>
      <div ref="fileProcessingLoader" class="{{ ctx.cssClasses['form-file-loader-wrapper'] }}">
        <div class="{{ ctx.cssClasses['form-file-loader'] }}"></div>
      </div>
    </div>
  {% } else { %}
    <div class="{{ ctx.cssClasses['form-file-video-container'] }}">
      <video class="{{ ctx.cssClasses['form-file-video'] }}" autoplay="true" ref="videoPlayer" tabindex="-1"></video>
    </div>
    <button class="{{ ctx.cssClasses['form-file-take-picture'] }}" ref="takePictureButton"><i class="{{ctx.iconClass('camera')}}"></i> {{ctx.t('takePicture')}}</button>
    <button class="{{ ctx.cssClasses['form-file-camera-toggle'] }}" ref="toggleCameraMode">{{ctx.t('switchToFileUpload')}}</button>
  {% } %}
{% } %}
{% if (!ctx.component.storage || ctx.support.hasWarning) { %}
  <div class="{{ ctx.cssClasses['form-file-warning'] }}">
    {% if (!ctx.component.storage) { %}
      <p>{{ctx.t('noStorageSet')}}</p>
    {% } %}
    {% if (!ctx.support.filereader) { %}
      <p>{{ctx.t('noFileApiSupport')}}</p>
    {% } %}
    {% if (!ctx.support.formdata) { %}
      <p>{{ctx.t('noFormDataSupport')}}</p>
    {% } %}
    {% if (!ctx.support.progress) { %}
      <p>{{ctx.t('noProgressSupport')}}</p>
    {% } %}
  </div>
{% } %}
