<nav aria-label="navigation" id="{{ ctx.wizardKey }}-header">
  <div class="classic-pagination grid grid-cols-12 gap-4 justify-center" style="border-bottom:0;">
    {% ctx.panels.forEach(function(panel, index) { %}
      <div class="classic-pagination-page col-span-3
          {{ctx.currentPage < index ? ' disabled' : ''}}
          {{ctx.currentPage === index ? ' active' : ''}}
          {{ctx.currentPage > index ? ' complete' : ''}}">
        <div class="text-center classic-pagination-title">{{ctx.t(panel.title, { _userInput: true })}}</div>
        {% if (ctx.panels.length > 1) { %}
          <div class="h-2 w-full overflow-hidden rounded-full bg-muted"><div class="h-full bg-primary transition-all"></div></div>
        {% } %}
        <span ref="{{ctx.wizardKey}}-link" class="classic-pagination-dot"></span>
      </div>
    {% }) %}
  </div>
</nav>
