<% const cssClasses = require('../cssClasses'); %>
<div class="{{ cssClasses['form-pdf-builder'] }}">
  <div class="{{ cssClasses['form-pdf-builder-sidebar'] }}">
    {{ctx.sidebar}}
  </div>
  <div class="{{ cssClasses['form-pdf-builder-area'] }}" ref="form">
    <div class="{{ cssClasses['form-pdf-builder-dropzone'] }}" ref="iframeDropzone"></div>
    {{ctx.form}}
  </div>
</div>
