<div class="form-builder-placeholder" ref="placeholder" role="alert">
  <div class="form-builder-placeholder-content">
    <i class="{{ctx.iconClass('plus')}}"></i>
    <span>{{ctx.t('dragAndDropComponent')}}</span>
  </div>
</div>
