<div class="{{ ctx.cssClasses['form-modal'] }}">
  <div ref="overlay" class="{{ ctx.cssClasses['form-modal-backdrop'] }}"></div>
  <div ref="content" class="{{ ctx.cssClasses['form-modal-content'] }}">
    <button
      ref="close"
      type="button"
      role="button"
      class="{{ ctx.cssClasses['form-modal-close'] }}">
      {{ctx.t('close')}}
    </button>
    <div ref="inner" class="{{ ctx.cssClasses['form-modal-body'] }}"></div>
  </div>
</div>
