<nav aria-label="navigation" id="{{ ctx.wizardKey }}-header" class="{{ ctx.cssClasses['form-wizard-header'] }}">
  <ul class="{{ ctx.cssClasses['form-wizard-navigation'] }}">
    {% ctx.panels.forEach(function(panel, index) { %}
    <li class="{{ ctx.cssClasses['form-wizard-navigation-item'] }} {{ctx.currentPage === index ? ' ' + cssClasses['form-wizard-navigation-item-active'] : ''}}">
      <span class="{{ ctx.cssClasses['form-wizard-navigation-link'] }}" ref="{{ctx.wizardKey}}-link">
        {{ctx.t(panel.title, { _userInput: true })}}
        {% if (panel.tooltip && ctx.currentPage === index) { %}
        <i ref="{{ctx.wizardKey}}-tooltip" class="{{ ctx.cssClasses['form-wizard-navigation-tooltip'] }}" data-tooltip="{{panel.tooltip}}"></i>
        {% } %}
      </span>
    </li>
    {% }) %}
  </ul>
</nav>
