<div ref="container" class="formio-modaledit-view-container">
  <button
    ref="edit"
    type="button"
    role="button"
    class="inline-flex items-center justify-center rounded-md bg-yellow-500 text-white px-1.5 py-0.5 text-xs shadow-sm hover:bg-yellow-600 transition-colors formio-modaledit-edit">
    <i class="{{ctx.iconClass('edit')}}"></i>
  </button>
  <div ref="input" class="modaledit-view-inner reset-margins">{{ctx.content}}</div>
</div>
