<% const cssClasses = require('../cssClasses'); %>
<div ref="container" class="<%= cssClasses['form-modal'] %>">
  <button
    ref="edit"
    type="button"
    role="button"
    class="<%= cssClasses['form-modal-edit'] %>">
    <i class="{{ctx.iconClass('edit')}}"></i>
  </button>
  <div ref="input" class="<%= cssClasses['form-modal-body'] %>">{{ctx.content}}</div>
</div>
