<div ref="container" class="{{ ctx.cssClasses['form-modal'] }}">
  <button
    ref="edit"
    type="button"
    role="button"
    class="{{ ctx.cssClasses['form-modal-edit'] }}">
    <i class="{{ctx.iconClass('edit')}}"></i>
  </button>
  <div ref="input" class="{{ ctx.cssClasses['form-modal-body'] }}">{{ctx.content}}</div>
</div>
