<div class="form-builder-sidebar" ref="sidebar">
  <div class="form-builder-sidebar-header">
    <input 
      type="search" 
      class="form-builder-sidebar-search" 
      ref="search" 
      placeholder="{{ctx.t('searchFields')}}"
      aria-label="{{ctx.t('searchFields')}}"
    />
  </div>
  <div class="form-builder-sidebar-content" ref="content">
    {{ctx.content}}
  </div>
</div>
